$darkColour: #171b21;
$lightColour: #ffffff;
$offLightColour: #f2f5f8;
$textColour: #171b21;

$navigationBackground: $lightColour;
$navigationForeground: $darkColour;

$navigationBackgroundHover: $darkColour;
$navigationForegroundHover: $lightColour;

$componentBackground: $lightColour;

$appBackground: $offLightColour;